  .app-container {
    display: flex;
    position: relative;
  }
  .app-sidebar-desktop {
    width: 300px;
    transition: width 0.3s;
    overflow: hidden;
    z-index: 1;
  }
  app-main{
    z-index: 12;
  }
  app-upgrade-plan{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999;
  }

@media (max-width:500px){
  .app-container {
    position: relative;
    width: 100vw !important;
    display: grid !important;
    grid-template-columns: 1fr;
  }

  app-main{
    position: absolute !important;
    z-index: 1;
    width: 100vw;
  }
  app-upgrade-plan{
    position: absolute;
    top: auto;
    left: auto;
    transform:none;
    z-index: 9999999999;
  }
  app-sidebar-mobile{
    position: absolute;
    width: 80vw;
    z-index: 9999 !important;
  }

}