.sidebar{
    width: 0;
    height: 100vh;
    background-color: #202123 !important;
    transition: width 0.3s;
}
.sidebar.active {
    width: 300px; 
  }
.sidebar-container{
    padding: 15px !important;
}
.top-new-chat{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 15px;
}
.new-chat{
    display: flex;
    padding: 10px;
    border: 2px solid var(--hover-background);
    border-radius: 5px;
    gap: 10px;
    .h5{
        font-size: larger;
        font-weight: 900;
    }
}
.new-chat:hover{
    cursor: pointer !important;
}
.collapse-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--hover-background);
    border-radius: 5px;
}
.search-history{
    margin-top: 10px;
    height: 70vh;
    width: 100%;
    overflow-y:scroll ;
    border-bottom: 2px solid var(--hover-background);
}
// .search-history::-webkit-scrollbar {
//     width: 10px;
//     background-color: darkgrey;
//     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     scrollbar-width: thin
//   }
.search-history::-webkit-scrollbar {
    width: 8px;
  }
  
  .search-history::-webkit-scrollbar-track {
    background-color: #202123;
    border-radius: 100px;
  }
  
 .search-history:hover::-webkit-scrollbar-thumb {
    background-color: #B4B5BD;
    border-radius: 100px;
    transition: width 5s;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.history{
    height: 45px;
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr 7fr;
    .header{
        display: flex;
        align-items: center;
        font-size: 17px;
        h5{
        opacity: 80%;

        }
    }
}
.history:hover{
    background-color: #343541 !important;
    border-radius: 10px;
}
.day{
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: bold;
    opacity: 60%;
    padding-left: 10px;
}
.name-bottom{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    gap: 10px;
}
.profile-logo{
    display: flex;
    align-items: center;
}
.dots{
    display: flex;
    align-items: center;
}
.profile{
    position: absolute;
    width: 280px;
    height: 150px;
    background-color: #050509;
    z-index: 999;
    left: 10px;
    bottom:100px ;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 15px;
    border-radius: 10px;
    padding: 20px;
    :hover{
        background-color: #343541 !important;
    }
}
.sub-content{
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 10px;
    padding:5px;
}

.sub-content:nth-child(2){
    border-bottom: 2px solid var(--hover-background);
}
.logo-profile-sec{
    width: 20px;
    height: 20px;
}