/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root{
    --main-background:#343541;
    --hover-background:#40414F;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Quicksand', sans-serif;
    // border: 1px solid red;
}